/* .login-page{
    background-image: url('../../assets/images/bg.png');
} */

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/bg.png');
    background-repeat: repeat-x;
    background-position: -1920px 100%;
    z-index: 1;
    animation: cloudMove 30s linear infinite;
    mix-blend-mode: luminosity;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes cloudMove {
    0% {
        background-position: -1920px 100%;
    }

    100% {
        background-position: 0 100%;
    }
}